* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../public/images/bg-mobile.svg);
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  width: 80%;
  margin: auto;
}

.illustration {
  width: 85%;
  margin: auto;
}

@media (min-width: 600px) {
  body {
    background-image: url(../public/images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .main {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
}
